@model TabloidMVC.Models.ViewModels.AddTagViewModel

@{
    ViewData["Title"] = "ViewPostTags";
}
<div class="container pt-5">

<h1>Manage Tags</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <div class="form-group">
                    <label asp-for="Post.Title" class="control-label"></label>
                    <input asp-for="Post.Title" class="form-control" />
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tags ) {
        <tr>
            <td>
                <label asp-for="Tags" class="control-label">@item.Name</label>
            </td>
        </tr>
}
    </tbody>
</table>

</div>