@model TabloidMVC.Models.Tag

@{
    ViewData["Title"] = "Delete";
}
<div class="container pt-5">


<h1>Are you sure you want to delete @Model.Name?</h1>
    <div>
     <form asp-action="Delete">
           <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back</a>
     </form>
    </div>
</div>