@model TabloidMVC.Models.Category

@{
    ViewData["Title"] = "Delete";
}
<div class="container pt-5">

    <h2>Are you sure you want to delete the Category "@Html.DisplayFor(model => model.Name)"?</h2>
    <div>
        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back</a>
        </form>
    </div>
</div>
